body {
    font-family: Nunito, sans-serif;
    /* font-family: Roboto, sans-serif; */
    background-color: rgb(58, 58, 58);
    color: rgb(182, 182, 174);
}

.images{
    display: flex;
}
.images img{
    cursor: pointer;
}