body {
    font-family: Nunito, sans-serif;
    /* font-family: Roboto, sans-serif; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 239, 239);
    transition: 0.5s;
}

.board {
    width: 320px;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    background-image: url(../images/grid.png);
    background-size: cover;
    margin: 20px auto;
    /* border-radius: 8px; */
    /* box-shadow: 0 0 15px 5px rgba(50, 50, 50, 0.5); */
}

.cell:hover {
    cursor: pointer;
}

.circle {
    background-image: url(../images/null.png);
}

.cross {
    background-image: url(../images/cross.png);
}

.circle,
.cross {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#result {
    position: absolute;
    display: none;
    background: #405cf5;
    padding: 10px 60px;
    border-radius: 8px;
    color: white;
    top: 10px;
}


/* CSS button*/
.button-9 {
    display: none;
    position: absolute;
    top: 80%;
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    height: 44px;
    line-height: 1.15;
    margin: 12px auto 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* width: 100%; */
}

.button-9:disabled {
    cursor: default;
}

.button-9:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

/* SCORE */
.score {
    display: flex;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    background: #405cf5;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
}

.btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    border: none;
    background: none;
    color: #405cf5;
    cursor: pointer;
}

.dark_mode {
    background: #444444;
    color: rgb(207, 14, 14);
    transition: 0.5s;
}

@media screen and (max-width: 900px) {
    body {
        display: block;
        height: auto;
    }

    .board {
        margin: 50px auto 20px;
    }

    .btn {
        font-size: 20px;
    }
    .button-9{
        position: inherit;
    }
    #result{
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 350px;
        height: 100px;
        font-size: 20px;
        /* text-align: center;*/
    }
}