* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    padding: 20px 50px;
    margin: 100px;
    cursor: pointer;
}

.active {
    height: 100vh;
    background: orchid;
    transition: 0.5s;
}

p {
    margin: 5px 30px;
text-align: center;
    font-size: 20px;
    color: white;
}

.active-p {
    color: red;
}
.mainClass{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 700px;
    margin: auto; */
}

.todo, .card{
    
    background-color: rgb(255, 122, 74);
    margin: 10px;
    padding: 15px;
    width: 40%;
    border-radius: 8px;
    cursor: pointer;
}

.line{
    text-decoration: line-through;
}

.activeBG{
    background: greenyellow;
}