body {
    font-family: Nunito, sans-serif;
    /* font-family: Roboto, sans-serif; */
}

.menu {
    position: fixed;
    display: flex;
    background-color: rgb(62, 62, 62);
    width: 100%;
    top: 0;
}

.menu a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
    border-right: 1px solid white;
}

.content {
    margin: 65px 10px;
}